body {
    background: #39C2EE;
}

#title-div {
    margin: 20px auto 30px auto;
    width: 322px;
    height: 83px;
    background: #0A7A9D;
    border-radius: 20px;


    display:flex;
    align-items: center;
    justify-content: center;
}



#title-text {

    width: 247px;
    height: 48px;


    font-family: 'Inter', sans-serif;   
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #D4F5FF;

    margin-left: auto;
    margin-right: auto;

}


#form-div {

    margin: 0 auto;
    width: 545px;
    height: 350px;
    /* left: 368px;

        height: 613px;
    top: 158px; */

    background: #D4F5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px;
    text-align: left;
}


#name-field, #email-field, #email-field, #dob, #country-field {
    width: 394px;
    height: 45px;
    background: #FFFFFF;


    width: 238px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


}

#name-label, #email-label, #email-label, #dob-label, #img-label, #country-label {
    width: 66px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0A7A9D;
}




#submit-btn {
    width: 152px;
    height: 52px;
    background: #FF0000;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    text-align:center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    margin: auto;  
    cursor: pointer;
}